<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>TimeSpan</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
  <div class="title-bar">
    <!-- <a class="button-close"><i class="material-icons">close</i></a> -->
    <a class="button-pinboard"><i class="material-icons">style</i></a>
  </div>
  <div class="mask"></div>
  <div class="wrapper">
    <!-- Pomodoro -->
    <div class="pomodoro-box">
      <h1 class="pomodoro-name">TimeSpan</h1>
      <input class="pomodoro-input" type="text" name="pomodoro-input" value="TimeSpan" />
      <div class="pomodoro-timer-box">
        <span class="pomodoro-banner"></span>
        <svg class="pomodoro-indicator" width="360" height="360" viewbox="0 0 360 360">
          <circle cx="180" cy="180" r="175" stroke-width="7" stroke="rgba(0,0,0,0.15)" fill="none"></circle>
          <circle cx="180" cy="180" r="175" stroke-width="7" stroke="#FAFAFA" fill="none" transform="matrix(0,-1,1,0,0,360)" stroke-dasharray="0 1099"></circle>
        </svg>
      </div>

      <div class="pomodoro-trigger-box">
        <a class="pomodoro-trigger">
          <i class="material-icons" data-trigger="false">play_arrow</i>
          <!-- <i class="material-icons">pause</i> -->
        </a>
      </div>
      <div class="preference-box">

      </div>
    </div>

    <!-- WhiteNoise -->
    <div class="whitenoise-box">
        <div class="whitenoise-carousel">
          <a href="#" class="whitenoise-scroll" id="whitenoise-scroll-left"><i class="material-icons">keyboard_arrow_left</i></a>
          <a href="#" class="whitenoise-scroll" id="whitenoise-scroll-right"><i class="material-icons">keyboard_arrow_right</i></a>
          <div class="whitenoise-carousel-window">
            <div class="whitenoise-carousel-slides">

              <div class="whitenoise-item" id="rain">
                <div class="whitenoise-icon">
                  <!-- <img src="http://soundrown.com/icon/rain_55x55.png" alt="Rain"> -->
                  <i class="material-icons">beach_access</i>
                </div>
                <div class="whitenoise-audioplayer">
                  <audio preload="none" controls loop style="width: 0px; height: 0px; visibility: hidden;">
                    <source src="http://oarqmtk28.bkt.clouddn.com/timespan/Rain15.mp3">
                    <source src="http://oarqmtk28.bkt.clouddn.com/timespan/Rain30.ogg">
      							<!-- <source src="../../../assets/audio/white_noise/Rain15.mp3">
      							<source src="../../../assets/audio/white_noise/Rain30.ogg"> -->
      						</audio>
                  <div class="whitenoise-playpause" data-switch="false"><a></a></div>
                  <p class="whitenoise-name">rain</p>
                </div>
              </div>

              <div class="whitenoise-item" id="cafe">
                <div class="whitenoise-icon">
                  <i class="material-icons">free_breakfast</i>
                  <!-- <img src="http://soundrown.com/icon/coffeeshop_55x55.png" alt="cafe"> -->
                </div>
                <div class="whitenoise-audioplayer">
                    <audio preload="none" controls loop style="width: 0px; height: 0px; visibility: hidden;">
                      <source src="http://oarqmtk28.bkt.clouddn.com/timespan/CoffeeShop15.mp3">
                      <source src="http://oarqmtk28.bkt.clouddn.com/timespan/CoffeeShop30.ogg">
        							<!-- <source src="../../../assets/audio/white_noise/CoffeeShop15.mp3">
        							<source src="../../../assets/audio/white_noise/CoffeeShop30.ogg"> -->
        						</audio>
                    <div class="whitenoise-playpause" data-switch="false"><a></a></div>
                    <p class="whitenoise-name">cafe</p>
                  </div>
              </div>

              <div class="whitenoise-item" id="waves">
                <div class="whitenoise-icon">
                  <i class="material-icons">pool</i>
                  <!-- <img src="http://soundrown.com/icon/waves_55x55.png" alt="waves"> -->
                </div>
                <div class="whitenoise-audioplayer">
                    <audio preload="none" controls loop style="width: 0px; height: 0px; visibility: hidden;">
                      <source src="http://oarqmtk28.bkt.clouddn.com/timespan/Waves15.mp3">
                      <source src="http://oarqmtk28.bkt.clouddn.com/timespan/Waves30.ogg">
        							<!-- <source src="../../../assets/audio/white_noise/Waves15.mp3">
        							<source src="../../../assets/audio/white_noise/Waves30.ogg"> -->
        						</audio>
                    <div class="whitenoise-playpause" data-switch="false"><a></a></div>
                    <p class="whitenoise-name">waves</p>
                  </div>
              </div>

              <div class="whitenoise-item" id="fire">
                <div class="whitenoise-icon">
                  <i class="material-icons">whatshot</i>
                  <!-- <img src="http://soundrown.com/icon/icon fire.png" alt="fire"> -->
                </div>
                <div class="whitenoise-audioplayer">
                    <audio preload="none" controls loop style="width: 0px; height: 0px; visibility: hidden;">
                      <source src="http://oarqmtk28.bkt.clouddn.com/timespan/Fire15.mp3">
                      <source src="http://oarqmtk28.bkt.clouddn.com/timespan/Fire30.ogg">
        							<!-- <source src="../../../assets/audio/white_noise/Fire15.mp3">
        							<source src="../../../assets/audio/white_noise/Fire30.ogg"> -->
        						</audio>
                    <div class="whitenoise-playpause" data-switch="false"><a></a></div>
                    <p class="whitenoise-name">fire</p>
                  </div>
              </div>

              <div class="whitenoise-item" id="nature">
                <div class="whitenoise-icon">
                  <i class="material-icons">nature</i>
                  <!-- <img src="http://soundrown.com/icon/icon bird.png" alt="birds"> -->
                </div>
                <div class="whitenoise-audioplayer">
                    <audio preload="none" controls loop style="width: 0px; height: 0px; visibility: hidden;">
                      <source src="http://oarqmtk28.bkt.clouddn.com/timespan/Birds15.mp3">
                      <source src="http://oarqmtk28.bkt.clouddn.com/timespan/Birds30.ogg">
        							<!-- <source src="../../../assets/audio/white_noise/Birds15.mp3">
        							<source src="../../../assets/audio/white_noise/Birds30.ogg"> -->
        						</audio>
                    <div class="whitenoise-playpause" data-switch="false"><a></a></div>
                    <p class="whitenoise-name">nature</p>
                  </div>
              </div>

              <div class="whitenoise-item" id="night">
                <div class="whitenoise-icon">
                  <i class="material-icons">brightness_2</i>
                  <!-- <img src="http://soundrown.com/icon/icon bird.png" alt="birds"> -->
                </div>
                <div class="whitenoise-audioplayer">
                    <audio preload="none" controls loop style="width: 0px; height: 0px; visibility: hidden;">
                      <source src="http://oarqmtk28.bkt.clouddn.com/timespan/Night15.mp3">
                      <source src="http://oarqmtk28.bkt.clouddn.com/timespan/Crickets30.ogg">
        							<!-- <source src="../../../assets/audio/white_noise/Night15.mp3">
        							<source src="../../../assets/audio/white_noise/Crickets30.ogg"> -->
        						</audio>
                    <div class="whitenoise-playpause" data-switch="false"><a></a></div>
                    <p class="whitenoise-name">night</p>
                  </div>
              </div>

              <div class="whitenoise-item" id="train">
                <div class="whitenoise-icon">
                  <i class="material-icons">train</i>
                  <!-- <img src="http://soundrown.com/icon/icon bird.png" alt="birds"> -->
                </div>
                <div class="whitenoise-audioplayer">
                    <audio preload="none" controls loop style="width: 0px; height: 0px; visibility: hidden;">
                      <source src="http://oarqmtk28.bkt.clouddn.com/timespan/Train15.mp3">
                      <source src="http://oarqmtk28.bkt.clouddn.com/timespan/Train30.ogg">
        							<!-- <source src="../../../assets/audio/white_noise/Train15.mp3">
        							<source src="../../../assets/audio/white_noise/Train30.ogg"> -->
        						</audio>
                    <div class="whitenoise-playpause" data-switch="false"><a></a></div>
                    <p class="whitenoise-name">train</p>
                  </div>
              </div>

              <div class="whitenoise-item" id="mount">
                <div class="whitenoise-icon">
                  <i class="material-icons">terrain</i>
                  <!-- <img src="http://soundrown.com/icon/icon bird.png" alt="birds"> -->
                </div>
                <div class="whitenoise-audioplayer">
                    <audio preload="none" controls loop style="width: 0px; height: 0px; visibility: hidden;">
                      <source src="http://oarqmtk28.bkt.clouddn.com/timespan/Fountain15.mp3">
                      <source src="http://oarqmtk28.bkt.clouddn.com/timespan/Fountain30.ogg">
        							<!-- <source src="../../../assets/audio/white_noise/Fountain15.mp3">
        							<source src="../../../assets/audio/white_noise/Fountain30.ogg"> -->
        						</audio>
                    <div class="whitenoise-playpause" data-switch="false"><a></a></div>
                    <p class="whitenoise-name">mount</p>
                  </div>
              </div>

              <div class="whitenoise-item" id="noise">
                <div class="whitenoise-icon">
                  <i class="material-icons">hearing</i>
                  <!-- <img src="http://soundrown.com/icon/icon bird.png" alt="birds"> -->
                </div>
                <div class="whitenoise-audioplayer">
                    <audio preload="none" controls loop style="width: 0px; height: 0px; visibility: hidden;">
                      <source src="http://oarqmtk28.bkt.clouddn.com/timespan/WhiteNoise15.mp3">
                      <source src="http://oarqmtk28.bkt.clouddn.com/timespan/WhiteNoise30.ogg">
        							<!-- <source src="../../../assets/audio/white_noise/WhiteNoise15.mp3">
        							<source src="../../../assets/audio/white_noise/WhiteNoise30.ogg"> -->
        						</audio>
                    <div class="whitenoise-playpause" data-switch="false"><a></a></div>
                    <p class="whitenoise-name">noise</p>
                  </div>
              </div>

              <div class="whitenoise-item" id="kids">
                <div class="whitenoise-icon">
                  <i class="material-icons">rowing</i>
                  <!-- <img src="http://soundrown.com/icon/icon bird.png" alt="birds"> -->
                </div>
                <div class="whitenoise-audioplayer">
                    <audio preload="none" controls loop style="width: 0px; height: 0px; visibility: hidden;">
                      <source src="http://oarqmtk28.bkt.clouddn.com/timespan/Kids15.mp3">
                      <source src="http://oarqmtk28.bkt.clouddn.com/timespan/Kids30.ogg">
        							<!-- <source src="../../../assets/audio/white_noise/Kids15.mp3">
        							<source src="../../../assets/audio/white_noise/Kids30.ogg"> -->
        						</audio>
                    <div class="whitenoise-playpause" data-switch="false"><a></a></div>
                    <p class="whitenoise-name">kids</p>
                  </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    <!-- PinBoard -->
    <div class="pinboard-box">
      
    </div>
  </div>
  <script>
    if (typeof module === 'object') {
      window.module = module;
      module = undefined;
    }
  </script>
  <script type="text/javascript" src="http://cdn.bootcss.com/moment.js/2.14.1/moment.min.js"></script>
  <script type="text/javascript" src="./../renderers/settings.js"></script>
  <script type="text/javascript" src="./../renderers/pomodoro-timer.js"></script>
  <script type="text/javascript" src="./../renderers/pomodoro-inputer.js"></script>
  <script type="text/javascript" src="./../renderers/pomodoro-pref.js"></script>
  <script type="text/javascript" src="./../renderers/whitenoise.js"></script>
  <script>
    if (window.module) module = window.module;
  </script>
</body>

</html>
