<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TimeSpan</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="../styles/style.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="pomodoro-box">
        <h1 class="pomodoro-name">TimeSpan</h1>
        <input class="pomodoro-input" type="text" name="pomodoro-input" value="TimeSpan" />
        <div class="pomodoro-timer-box">
          <span id="pomodoro-banner">25:00</span>
          <canvas id="pomodoro-timer" data-process="0" data-bgcolor="#B71C1C" data-ficolor ="#FAFAFA" width="360" height="360"></canvas>
        </div>
        <div class="pomodoro-trigger-box">
          <a id="pomodoro-trigger" class="btn-floating btn-large white"><i class="material-icons red-text">play_arrow</i></a>
        </div>
      </div>
    </div>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script type="text/javascript" src="http://cdn.bootcss.com/moment.js/2.14.1/moment.min.js"></script>
    <script type="text/javascript" src="./../renderers/pomodoro-timer.js"></script>
    <script type="text/javascript" src="./../renderers/pomodoro-inputer.js"></script>
    <script>if (window.module) module = window.module;</script>
  </body>
</html>
